<%= form_with model: @booking do |f|%>
  <%= f.hidden_field :flight_id, value: @flight.id%> 
    <%= f.fields_for :passengers do |passenger_form| %>
      <p>Passenger </p>
      <%= passenger_form.label :name, "Name:" %> <br>
      <%= passenger_form.text_field :name %> <br >
      <%= passenger_form.label :email, "Email:" %> <br>
      <%= passenger_form.text_field :email %> <br>
    <% end %><br>
  <%= f.submit "Submit and Continue"%>
<% end %>