<h1> Booking</h1>
<h3>Confirm Flight Details </h3>
Departure Airport: <%= @flight.departure_airport.name %> (<%= @flight.departure_airport.code %>) <br>
Arrival Airport: <%= @flight.arrival_airport.name %> (<%= @flight.arrival_airport.code %>) <br>
Departure Date & Time: <%= @flight.datetime %> <br>
Flight Duration: <%= @flight.duration/60/60 %> hours <br>
Flight Id: <%= @flight.id %> <br>

<h3> Passenger Information </h3>
<%= render 'booking_form'%>